<div class="calculadora-container">
    <div class="calculadora-tabs">
        <button class="tab-link active" data-tab="dose">Dose de Medicamento</button>
        <button class="tab-link" data-tab="energia">Necessidade Energética</button>
        <button class="tab-link" data-tab="gestacao">Gestação</button>
        <button class="tab-link" data-tab="silvestres">Silvestres</button>
    </div>

    <div class="calculadora-content">
        <div id="dose" class="tab-pane active">
            <div class="row justify-content-center componente-calculo-central">
                <div class="col-md-8 col-lg-6">
                    <div class="form-section">
                        <div class="calculation-box">
                            <label for="especies-select">Espécie</label>
                            <select id="especies-select">
                                <option value="">Selecione</option>
                            </select>

                            <label for="medicamentos-select">Medicamento</label>
                            <select id="medicamentos-select">
                                <option value="">Selecione</option>
                            </select>

                            <label for="apresentacao-select">Apresentação</label>
                            <select id="apresentacao-select" disabled>
                                <option value="">Selecione a Espécie e o Medicamento</option>
                            </select> <label for="peso">Peso (kg)</label>
                            <input type="number" id="peso" step="0.01" placeholder="Informe o peso em kg">

                            <label for="dose-recomendada">Dose Recomendada (mg/kg)</label>
                            <input type="text" id="dose-recomendada" readonly>

                            <label for="concentracao">Concentração (mg/mL)</label>
                            <input type="text" id="concentracao" readonly>

                            <button class="calculate-btn btn btn-primary">Calcular</button>

                            <div class="resultado-box mt-3" style="display:none">
                                <span id="icone-resultado">💉</span> Dose total: <span id="resultado-valor">0.00</span>
                                <span id="unidade-medida">mL</span>

                                <div class="formula" id="formula-texto">Fórmula: (peso × dose) ÷ concentração</div>
                            </div>
                            <div class="fonte-calculo mt-3">
                                Fonte:
                                <a href="https://vetsmart.com.br/" target="_blank" rel="noopener noreferrer">
                                    Vet Smart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="energia" class="tab-pane">
        <div class="row justify-content-center componente-calculo-central">
            <div class="col-md-8 col-lg-6">
                <div class="form-section">
                    <div class="calculation-box">
                        <label>Animal</label>
                        <div class="btn-group">
                            <button class="btn-animal-energia active" data-animal="cao">Cães</button>
                            <button class="btn-animal-energia" data-animal="gato">Gatos</button>
                        </div>

                        <label for="peso-energia">Peso (kg)</label>
                        <input type="number" id="peso-energia" placeholder="Informe o peso em kg" step="0.01">

                        <div id="racas-container-energia">
                            <label for="racas-select-energia">Raças</label>
                            <select id="racas-select-energia">
                                <option value="todas">Todas</option>
                                <option value="pequenas_medias">Pequenas e Médias</option>
                            </select>
                        </div>

                        <div id="caracteristicas-cao-container">
                            <label for="caracteristica-cao">Características</label>
                            <select id="caracteristica-cao">
                                <option value="crescimento_cao">Em crescimento</option>
                                <option value="adulto_moderado_cao">Adultos com atividade moderada</option>
                                <option value="lactacao_cao">Em lactação</option>
                                <option value="adulto_sedentario_cao">Adultos sedentários e/ou idosos</option>
                            </select>
                        </div>

                        <div id="caracteristicas-gato-container" style="display: none;">
                            <label for="caracteristica-gato">Características</label>
                            <select id="caracteristica-gato">
                                <option value="crescimento_gato">Filhotes em crescimento (até 30 semanas)</option>
                                <option value="adulto_ativo_gato">Adultos ativos e/ou gestantes</option>
                                <option value="lactacao_gato">Em lactação</option>
                                <option value="adulto_sedentario_gato">Adultos sedentários e/ou idosos</option>
                            </select>
                        </div>

                        <div class="resultado-box mt-3">
                            Necessidade Energética: <span id="resultado-energia">0,00 Kcal/dia</span>
                        </div>
                        <div class="fonte-calculo mt-3">
                            Fonte:
                            <a href="https://www.merckvetmanual.com/" target="_blank" rel="noopener noreferrer">
                                Merck Veterinary Manual
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gestacao" class="tab-pane">
        <div class="row justify-content-center componente-calculo-central">
            <div class="col-md-8 col-lg-6">
                <div class="form-section">
                    <div class="calculation-box">
                        <label>Animal</label>
                        <div class="btn-group"><button class="btn-animal-gestacao active"
                                data-animal="cao">Cães</button><button class="btn-animal-gestacao"
                                data-animal="gato">Gatos</button></div>
                        <label for="inicio-gestacao">Início da Gestação</label>
                        <input type="date" id="inicio-gestacao">
                        <div class="resultado-box mt-3">
                            <strong>Data do Parto (Estimativa):</strong>
                            <div id="resultado-gestacao">Mínima: -- <br> Máxima: --</div>
                        </div>

                        <div class="fonte-calculo mt-3">
                            Fonte:
                            <a href="https://www.merckvetmanual.com/" target="_blank" rel="noopener noreferrer">
                                Merck Veterinary Manual
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="silvestres" class="tab-pane">
        <div class="row justify-content-center componente-calculo-central">
            <div class="col-md-8 col-lg-6">
                <div class="form-section">
                    <div class="calculation-box">

                        <label for="silvestres-grupo">Grupo</label>
                        <select id="silvestres-grupo">
                            <option value="">Carregando...</option>
                        </select>

                        <label for="silvestres-medicamento">Medicamento</label>
                        <select id="silvestres-medicamento" disabled>
                            <option value="">Selecione o Grupo primeiro</option>
                        </select>

                        <label for="silvestres-peso">Peso (g)</label> <input type="number" id="silvestres-peso"
                            placeholder="Informe o peso em gramas">

                        <button class="calculate-btn btn btn-primary mt-3" id="btn-calcular-silvestre">Calcular</button>

                        <div class="resultado-box mt-3" style="display:none" id="resultado-box-silvestre">
                            💉 Dose Total: <span id="resultado-valor-silvestre">0.00</span> mg
                            <div class="formula" id="info-detalhe-silvestre"></div>
                            <div class="formula"
                                style="font-size: 12px; color: #666; line-height: 1.5; font-family: sans-serif;">

                                <strong>Cálculo baseado em Alometria (TMB)</strong>

                                <p style="font-size: 14px; margin: 10px 0;">
                                    TMB = K &times; P<sup>0,75</sup>
                                </p>

                                <p style="margin-bottom: 5px;"><strong>Onde:</strong></p>

                                <ul style="margin-top: 0; padding-left: 20px;">
                                    <li><strong>P</strong> = peso do animal (kg)</li>
                                    <li><strong>K</strong> = constante que varia conforme o grupo de animais:
                                        <ul style="margin-top: 5px; margin-bottom: 10px; color: #555;">
                                            <li>Aves passeriformes: 129</li>
                                            <li>Aves não passeriformes: 78</li>
                                            <li>Mamíferos placentários: 70</li>
                                            <li>Marsupiais, xenartros e monotrematas: 49</li>
                                            <li>Répteis: 10</li>
                                        </ul>
                                    </li>
                                </ul>

                                <ol start="2" style="padding-left: 20px;">
                                    <li>Dividir a dose total indicada para o animal modelo pela sua TMB;</li>
                                    <li>Multiplicar o resultado pela TMB do animal alvo. O resultado é a dose total a
                                        ser utilizada;</li>
                                    <li>Dividir a dose total pelo peso do animal. O resultado é a dose em mg/kg.</li>
                                </ol>

                            </div>
                        </div>
                        <div class="fonte-calculo mt-3">
                            Fonte:
                            <a href="https://www.drogavet.com.br/" target="_blank" rel="noopener noreferrer">
                                DrogaVET
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>